<% picture_url = logged_in? ? facebook_picture_url(@user.uid) : facebook_picture_url  %>

<!-- @todo: load profile/page javascript that will load all the profile information from facebook -->

<div class="account-container opacity radius-10">

    <div class="info-container clearfix">

        <div class="profile circular-image shadow-level-2">
            <%= image_tag picture_url, alt: 'Perfil del usuario', class: 'user-image' %>
        </div>

        <div class="info">

            <h3>
                <%= current_user.name %>
            </h3>

            <!-- <p>
                Get a little description here
            </p> -->

        </div>
    </div>

    <div class="cover-container">
        <%= image_tag nil, alt: current_user.name, class: 'hide cover'  %>
    </div>

    <div class="posts-container">
        @todo: posts list here
    </div>

</div>