<!-- next page indicator -->
<% if @show_next_button %>

    <div class="columns small-12">
        <button id="btn_more_lights" 
            class="button expanded btn-more-lights" 
            style="margin: 0;">
            Ver más luces encendidas
        </button>
    </div>

<% end %>

<% @paginated_lights.reverse.each do |light| %>   
    <div class="light columns small-4 profile text-center float-left">
        <%= render partial: 'app/light', locals: { light: light } %>         
    </div>
<% end %>
