<% col_reference ||= 6 %>
<% ranked ||= false %>

<div style="border: solid 1px blue; display: inline-blocK; padding: 10px; position: fixed;">
    <div style="border: solid 1px green; display: inline-block;">
        selector
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        selector
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        selector
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        selector
    </div>
</div>

<!-- next page indicator -->
<% if show_next_button %>

    <div class="columns small-12">
        <button id="btn_more_lights" 
            class="button expanded btn-more-lights" 
            style="margin: 0;">
            Ver más luces encendidas
        </button>
    </div>

<% end %>

<% paginated_lights.reverse.each do |light| %>   
    <%= render partial: 'app/wrapped_light', locals: { 
            light: light, 
            col_reference: col_reference, 
            ranked: ranked } %>
<% end %>
