<% col_reference ||= 6 %>
<% ranked ||= false %>

<div style="border: solid 1px blue; display: inline-block; padding: 10px; position: absolute; top: 10px; left: 10px;">
    <div style="border: solid 1px green; display: inline-block;">
        LOGO DE LA APP
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        CATEGORÍA NIVEL 1
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        CATEGORÍA NIVEL 2
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        Publicaciones desde el comienzo
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        <input type="text" name="searcher_input" value="searcher">
    </div>
    <div style="border: solid 1px green; display: inline-block;">
        (lupa)
    </div>
</div>

<!-- next page indicator -->
<% if show_next_button %>

    <div class="columns small-12">
    
        <div id="theather_container">
            <div id="theather" class="theather">
                <div id="cover">
                    <div class=""> <!-- image container -->
                        <img src="" alt="[title page]">
                    </div>
                </div>
                    
                <div> <!-- title & description container -->
                    <h2>
                        @todo: Title thing
                    </h2>
                    <p>
                        profile description profile description profile description profile description profile description 
                        profile description profile description profile description profile description profile description 
                        profile description profile description profile description profile description profile description 
                        profile description profile description profile description profile description profile description 
                        profile description profile description profile description profile description profile description 
                    </p>
                </div>


                <div style="border: solid 1px blue; color: red;">
                    searcher filtered here
                </div>

            </div>

        </div>

        <button id="btn_more_posts" 
            class="button expanded btn-more-posts" 
            style="margin: 0;">
            Ver más luces encendidas
        </button>

    </div>

<% end %>


<% paginated_posts.reverse.each do |post| %>   
    <%= render partial: 'app/wrapped_post', locals: { 
            post: post, 
            col_reference: col_reference, 
            ranked: ranked 
    } %>
<% end %>
