<!-- @todo: dynamic content -->
<div>
    <span class="selector-closer">
        &times;
    </span>

    <h6>Filtro temporal</h6>

    <ul>
        <li><a href="#">Últimos 3 días</a></li>
        <li><a href="#">Última semana</a></li>
        <li><a href="#">Últimas 2 semanas</a></li>
        <li><a href="#">Último mes</a></li>
        <li><a href="#">Últimos 2 meses</a></li>
        <li><a href="#">Desde el principio</a></li>
    </ul>
</div>