<!-- @todo: dynamic content -->
<div>
    <span class="selector-closer">
        &times;
    </span>

    <h6>Filtro temporal</h6>

    <ul>
        <li>Últimos 3 días</li>
        <li>Última semana</li>
        <li>Últimas 2 semanas</li>
        <li>Último mes</li>
        <li>Últimos 2 meses</li>
        <li>Desde el principio</li>
    </ul>
</div>