<div class="profile text-center">
    <%= image_tag asset_url("icons/profile-128.png"), alt: 'Perfil del usuario' %>
    <h3>
        User name
    </h3>
</div>

<div class="explanation row">
    <div class="small-4 columns">
        1. Registrate en facebook
    </div>
    <div class="small-4 columns">
        2. Activa el tablero
    </div>
    <div class="small-4 columns">
        3. Escoge tus números
    </div>
</div>

<div class="steps text-center">
    <span>1.</span>
    <button type="button" class="button face [radius round] center">
        Iniciar sesión con facebook
    </button>
</div>