<div class="profile text-center">
    <%= image_tag asset_url("icons/profile-128.png"), alt: 'Perfil del usuario' %>
    <h3>
        User name
    </h3>
</div>

<div class="explanation row">
    <div class="small-4 columns">
        1. Registrate en facebook
        <p>
            some content some content some content some content 
            some content some content some content some content 
            some content some content some content some content 
            some content some content some content some content 
        </p>

        <button type="button" class="button face large icn icn-24 facebook">
            Iniciar sesión con facebook
        </button>

    </div>

    <div class="small-4 columns disabled">
        2. Activa el tablero
        <p>
            some content some content some content some content 
            some content some content some content some content 
            content some content some content 
            some content some content some content some content 
        </p>

        <button type="button" class="button face disabled large icn icn-24 love" disabled>
            Dale me gusta a la página
        </button>

    </div>
    <div class="small-4 columns disabled">
        3. Escoge tus números
        <p>
            some content some content some content some content 
            some content some content some 
            some content some content some content some content 
            some content some content some content some content 
        </p>
        <button type="button" class="button face disabled large icn icn-24 friends" disabled>
            Invita a tus amigos
        </button>
    </div>
</div>
<!-- 
<div class="steps text-center row">
</div> -->