<div class="profile text-center">
    <%= image_tag asset_url("icons/profile-128.png"), alt: 'Perfil del usuario' %>
    <h3>
        User name
    </h3>
</div>

<div class="explanation row">
    <div class="small-4 columns">
        <h5>
            1. Registrate en facebook
        </h5>
        <p>
            some content some content some content some content 
            some content some content some content some content 
            some content some content some content some content 
            some content some content some content some content 
        </p>

        <button type="button" class="button face large icn icn-24 facebook">
            Comenzar 
        </button>

    </div>

    <div class="small-4 columns disabled">
        <h5>
            2. Activa el tablero 
        </h5>
        <p>
            some content some content some content some content 
            some content some content some content some content 
            content some content some content 
            some content some content some content some content 
        </p>

        <button type="button" class="button face disabled large icn icn-24 love" disabled>
            Dale me gusta a la página
        </button>

    </div>
    <div class="small-4 columns disabled">
        <h5>
            3. Escoge tus números
        </h5>
        <p>
            some content some content some content some content 
            some content some content some 
            some content some content some content some content 
            some content some content some content some content 
        </p>
        <button data-toggle="exampleModal8" type="button" class="button face disabled large icn icn-24 friends" disabled>
            Invita a tus amigos

            <div class="full reveal" id="exampleModal8" data-reveal>
                <p>OOOPA. Elige tus números!</p>
                <img src="http://placekitten.com/1920/1280" alt="Intropsective Cage">
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </button>
    </div>
</div>
<!-- 
<div class="steps text-center row">
</div> -->