@import 'settings';


header {
    padding: 2em;
}

main {
    padding: 1em
}

#app_container {
    border-left: solid 3px #c9c9c9;
}

.radius-5 {
    @include box_radius_5;
}

.circle {
    @include box_circle;
}

.overshadowed {
    @include opaqued;
}

#fixed_panel {
    @include transparency_background;
    padding: 10px 15px;
    max-width: 100px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    button {
        margin: 5px 0 10px;
        &:last-child {
            margin-bottom: 5px;
        }
    }
}

.button {

    margin: 0;

    &.face {
        background-color: $blue-face;
        &:hover, &:focus {
            background-color: $blue-face-light;
            &.disabled {
                background-color: $blue-face;
                &:focus {
                    background-color: $blue-face;
                }
            }
        }
    }

    &.icn {
        
        background-repeat: no-repeat;

        background-position: 15px 50%;

        &.icn-24 {
            padding-left: 50px;
            &.only-icon {
                padding: 20px;
                background-position: center;
            }
            &.facebook { background-image: asset-url('icons/facebook-24.png'); }
            &.love { background-image: asset-url('icons/love-24.png'); }
            &.friends { background-image: asset-url('icons/friends-24.png'); }
            &.plug { background-image: asset-url('icons/plug-24.png'); }
            &.share { background-image: asset-url('icons/share-24.png'); }
            &.positive { background-image: asset-url('icons/positive-24.png'); }
            &.negative { background-image: asset-url('icons/negative-24.png'); }
            &.comment { background-image: asset-url('icons/comment-24.png'); }
            &.pencil { background-image: asset-url('icons/pencil-24.png'); }
            &.trash { background-image: asset-url('icons/trash-24.png'); }
            &.cancel { background-image: asset-url('icons/cancel-24.png'); }
            &.plant { background-image: asset-url('icons/plant-24.png'); }
            &.shutdown { background-image: asset-url('icons/shut-down-24.png'); }
            &.ranking { background-image: asset-url('icons/ranking-24.png'); }
            &.searcher { background-image: asset-url('icons/searcher-24.png'); }
            &.lamp { background-image: asset-url('icons/lamp-24.png'); }
        }

        &.icn-32 {
            padding-left: 50px;
            &.only-icon {
                padding: 30px;
                background-position: center;
            }
            &.facebook { background-image: asset-url('icons/facebook-32.png'); }
            &.love { background-image: asset-url('icons/love-32.png'); }
            &.friends { background-image: asset-url('icons/friends-32.png'); }
            &.plug { background-image: asset-url('icons/plug-32.png'); }
            &.share { background-image: asset-url('icons/share-32.png'); }
            &.positive { background-image: asset-url('icons/positive-32.png'); }
            &.negative { background-image: asset-url('icons/negative-32.png'); }
            &.comment { background-image: asset-url('icons/comment-32.png'); }
            &.pencil { background-image: asset-url('icons/pencil-32.png'); }
            &.trash { background-image: asset-url('icons/trash-32.png'); }
            &.cancel { background-image: asset-url('icons/cancel-32.png'); }
            &.plant { background-image: asset-url('icons/plant-32.png'); }
            &.shutdown { background-image: asset-url('icons/shut-down-32.png'); }
            &.ranking { background-image: asset-url('icons/ranking-32.png'); }
            &.searcher { background-image: asset-url('icons/searcher-32.png'); }
            &.lamp { background-image: asset-url('icons/lamp-32.png'); }
            &.up { background-image: asset-url('icons/up-32.png'); }
            &.down { background-image: asset-url('icons/down-32.png'); }
        }
    }
}

.invitations {

    padding: 0;
    
    .invitation {

        border: solid 3px;

        &.pending {
            border-color: $medium-gray;
        }

        &.playing {
            border-color: $blue;
        }

        &.accepted {
            border-color:  $green;
        }

        &.rejected {
            border-color: $red;
        }

        display: inline-block;
        width: 9em;
        height: 9em;
        margin: 0.5em 0.2em;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 8.6em;
            height: 8.6em;

            &.pending {
                @include opaqued;
            }
        }
    }

}

#ranking_container {
    // border: solid 1px red;
}

#lights_container {
    // border: solid 1px red;
}

.profile {
    color: $white;
    text-align: center;

    .profile-img-container {
        @include box_circle;
        display: block;
        margin: 0 auto;
        height: 6em;
        width: 6em;
        
        img {
            @include box_circle;
            display: inline;
            height: 100%;
            width: 100%;
        }
    }
}

.light {

    padding: 10px 0;

    .light-description {
        padding: 10px 0;
        // min-height: 7em;
        margin-bottom: 10px;
        font-size: $small-font-size;
        border-bottom: solid 1px #555;
    }

    // override profile
    .profile-img-container {
        height: 3.5em;
        width: 3.5em;
    }
}

#btn_more_lights {
    background-color: $dark_gray;
    color: #e9e9e9;
    @include base_shadow;

    &:hover, &:focus {
        color: #fff;
        @include base_shadow_light;
    }
}

.light .base {

    // border: solid 1px violet;

    &.on { @include base_shadow_light; }
    
    padding: 10px;

    @include box_radius_5;

    // &.off { @include base_shadow; }
}



footer {
    padding: 50px;
    text-align: center;
}

// publisher plugin
.--class-publisher-plugin {
}