@import 'settings';

header {
    padding: 2em;
}

.profile {
    color: $white;
    padding: 0.5em 0 1.9em;
    margin: 0 auto;

    img {
        @include box_circle;
        height: 9em;
        width: 9em;
    }

    h3 {
        margin-top: 0.9em;
    }

    p {
        padding: 10px 0;
        min-height: 7em;
        font-size: $small-font-size;
        border-bottom: solid 1px #555;
    }
}


.button {

    &.face {
        background-color: $blue-face;
        &:hover, &:focus {
            background-color: $blue-face-light;
            &.disabled {
                background-color: $blue-face;
                &:focus {
                    background-color: $blue-face;
                }
            }
        }
    }

    &.icn {
        background-repeat: no-repeat;
        background-position: 15px 50%;

        &.icn-24 {
            padding-left: 50px;
            &.facebook {
                background-image: asset-url('icons/facebook-24.png');
            }
            &.love {
                background-image: asset-url('icons/love-24.png');
            }
            &.friends {
                background-image: asset-url('icons/friends-24.png');
            }
        }
    }
}

#invited_users {
    // border: solid 1px red;
    padding: 0;
    .invited_user {
        border: solid 1px $medium-gray;
        @include box_circle;
        display: inline-block;
        width: 9em;
        height: 9em;
        margin: 0.5em 0.2em;
    }

}

// footer {

// }