@import 'settings';

header {
    padding: 2em;
}

main {
    background: $blue-face;
}

.top-bar {
    border: solid 1px red;
    padding: 0;

    input[type=text]#filter_text {
        @include no_shadow;
        @include no_radius;

        background: asset-url('icons/searcher-24.png') no-repeat; 
        padding-left: 3em;
        margin: 0.5em 0 0 0;
        color: #fff;
        display: inline;
        outline: none;
        border: none;
        border-bottom: solid 1px $sky;

        *:focus {
            outline: none;
        }
    }
}

.radius-5 {
    @include box_radius_5;
}

.circle {
    @include box_circle;
}

.overshadowed {
    @include opaqued;
}

#fixed_panel {
    // @todo
}

.button {
    @include shadow_level_1;
    margin: 0;

    &.face {
        background-color: $blue-face;
        &:hover, &:focus {
            background-color: $blue-face-light;
            &.disabled {
                background-color: $blue-face;
                &:focus {
                    background-color: $blue-face;
                }
            }
        }
    }

    &.face {
        border: solid 0.1em $sky;
    }

    &.icn {
        background-repeat: no-repeat;
        background-position: 15px 50%;

        &.icn-24 {
            padding-left: 50px;
            &.only-icon {
                padding: 20px;
                background-position: center;
            }
            &.facebook { background-image: asset-url('icons/facebook-24.png'); }
            &.love { background-image: asset-url('icons/love-24.png'); }
            &.friends { background-image: asset-url('icons/friends-24.png'); }
            &.plug { background-image: asset-url('icons/plug-24.png'); }
            &.share { background-image: asset-url('icons/share-24.png'); }
            &.positive { background-image: asset-url('icons/positive-24.png'); }
            &.negative { background-image: asset-url('icons/negative-24.png'); }
            &.comment { background-image: asset-url('icons/comment-24.png'); }
            &.pencil { background-image: asset-url('icons/pencil-24.png'); }
            &.trash { background-image: asset-url('icons/trash-24.png'); }
            &.cancel { background-image: asset-url('icons/cancel-24.png'); }
            &.plant { background-image: asset-url('icons/plant-24.png'); }
            &.shutdown { background-image: asset-url('icons/shut-down-24.png'); }
            &.ranking { background-image: asset-url('icons/ranking-24.png'); }
            &.searcher { background-image: asset-url('icons/searcher-24.png'); }
            &.lamp { background-image: asset-url('icons/lamp-24.png'); }
            &.location { background-image: asset-url('icons/location-24.png'); }
            &.calendar { background-image: asset-url('icons/calendar-24.png'); }
            &.categories { background-image: asset-url('icons/categories-24.png'); }
        }

        &.icn-32 {
            padding-left: 50px;
            &.only-icon {
                padding: 30px;
                background-position: center;
            }
            &.facebook { background-image: asset-url('icons/facebook-32.png'); }
            &.love { background-image: asset-url('icons/love-32.png'); }
            &.friends { background-image: asset-url('icons/friends-32.png'); }
            &.plug { background-image: asset-url('icons/plug-32.png'); }
            &.share { background-image: asset-url('icons/share-32.png'); }
            &.positive { background-image: asset-url('icons/positive-32.png'); }
            &.negative { background-image: asset-url('icons/negative-32.png'); }
            &.comment { background-image: asset-url('icons/comment-32.png'); }
            &.pencil { background-image: asset-url('icons/pencil-32.png'); }
            &.trash { background-image: asset-url('icons/trash-32.png'); }
            &.cancel { background-image: asset-url('icons/cancel-32.png'); }
            &.plant { background-image: asset-url('icons/plant-32.png'); }
            &.shutdown { background-image: asset-url('icons/shut-down-32.png'); }
            &.ranking { background-image: asset-url('icons/ranking-32.png'); }
            &.searcher { background-image: asset-url('icons/searcher-32.png'); }
            &.lamp { background-image: asset-url('icons/lamp-32.png'); }
            &.up { background-image: asset-url('icons/up-32.png'); }
            &.down { background-image: asset-url('icons/down-32.png'); }
            &.location { background-image: asset-url('icons/location-32.png'); }
            &.calendar { background-image: asset-url('icons/calendar-32.png'); }
            &.categories { background-image: asset-url('icons/categories-32.png'); }
        }
    }
}

.invitations {
    // @todo: rewrite
}

#ranking_container {
    // border: solid 1px red;
}

#posts_container {
    // border: solid 1px red;
}

.circular-image {
    @include box_circle;
    border: solid 3px red;
    height: 5em;
    width: 5em;
    img {
        @include box_circle;
        display: inline;
        height: 100%;
        width: 100%;
    }
}

.profile {
    color: $white;
    text-align: center;

    .circular-image {
        height: 6em;
        width: 6em;
    }
}

.theather {
    // @todo
}

.post {
    // @todo
}

#btn_more_posts {
    // @todo
}

.post .base {

    // border: solid 1px violet;

    &.on { @include base_shadow_light; }
    
    padding: 10px;

    @include box_radius_5;

    // &.off { @include base_shadow; }
}

footer {
    border: solid 1px violet;
    padding: 50px;
    text-align: center;
}

// publisher plugin
.--class-publisher-plugin {
}