@import 'settings';


header {
    padding: 2em;
}

main {
    border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    background: asset-url('bg.png');
    background-repeat: repeat;
}

#app_container {
    border-left: solid 3px #c9c9c9;
}

.radius-5 {
    @include box_radius_5;
}

.circle {
    @include box_circle;
}

.overshadowed {
    @include opaqued;
}

.profile {
    color: $white;
    padding: 0.5em 0 1.9em;
    margin: 0 auto;

    img {
        @include box_circle;
        height: 9em;
        width: 9em;
    }

    h3 {
        margin-top: 0.9em;
    }

    p {
        padding: 10px 0;
        min-height: 7em;
        font-size: $small-font-size;
        border-bottom: solid 1px #555;
    }
}

.button {

    margin: 0;

    &.face {
        background-color: $blue-face;
        &:hover, &:focus {
            background-color: $blue-face-light;
            &.disabled {
                background-color: $blue-face;
                &:focus {
                    background-color: $blue-face;
                }
            }
        }
    }

    &.icn {
        background-repeat: no-repeat;
        background-position: 15px 50%;

        &.icn-24 {

            padding-left: 50px;

            &.only-icon {
                padding: 20px;
                background-position: center;
            }

            &.facebook {
                background-image: asset-url('icons/facebook-24.png');
            }
            &.love {
                background-image: asset-url('icons/love-24.png');
            }
            &.friends {
                background-image: asset-url('icons/friends-24.png');
            }
            &.plug {
                background-image: asset-url('icons/plug-24.png');   
            }
            &.share {
                background-image: asset-url('icons/share-24.png');   
            }
        }
    }
}

.invitations {
    
    padding: 0;

    .invitation {

        border: solid 3px;

        &.pending {
            border-color: $medium-gray;
        }

        &.playing {
            border-color: $blue;
        }

        &.accepted {
            border-color:  $green;
        }

        &.rejected {
            border-color: $red;
        }

        display: inline-block;
        width: 9em;
        height: 9em;
        margin: 0.5em 0.2em;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 8.6em;
            height: 8.6em;

            &.pending {
                @include opaqued;
            }
        }
    }

}

.node {
    margin: 15px 0;
    padding: 10px 50px;
    background: none;

    .profile-picture {
        @include base_shadow;
        width: 39px; 
        height: 39px;
        float: left;
        clear: right; 
        border: solid 1px #fff;

        img {
            width: 100%;
            height: 100%;
        }
    }

    textarea.content, textarea.content:focus, label {
        float: left;
        border: none;
        box-shadow: none;
        background: none;
        // color: #fff !important;
        // border: solid 1px green;
        display: inline;
    }

    .button {
        margin-left: 0.1em 0.1em;
    }
    
}

footer {
    padding: 50px;
    text-align: center;
}

// publisher plugin
.--class-publisher-plugin {
}