@import 'settings';


header {
    padding: 2em;
}

main {
    padding: 1em
}

#app_container {
    border-left: solid 3px #c9c9c9;
}

.radius-5 {
    @include box_radius_5;
}

.circle {
    @include box_circle;
}

.overshadowed {
    @include opaqued;
}

.profile {
    color: $white;
    padding: 0.5em 0 1.9em;
    margin: 0 auto;

    img {
        @include box_circle;
        height: 5em;
        width: 5em;
    }

    h3 {
        margin-top: 0.9em;
    }

    p {
        padding: 10px 0;
        min-height: 8em;
        font-size: $small-font-size;
        border-bottom: solid 1px #555;
    }
}

.button {

    margin: 0;

    &.face {
        background-color: $blue-face;
        &:hover, &:focus {
            background-color: $blue-face-light;
            &.disabled {
                background-color: $blue-face;
                &:focus {
                    background-color: $blue-face;
                }
            }
        }
    }

    &.icn {
        
        background-repeat: no-repeat;

        background-position: 15px 50%;

        &.icn-24 {

            padding-left: 50px;

            &.only-icon {
                padding: 20px;
                background-position: center;
            }

            &.facebook {
                background-image: asset-url('icons/facebook-24.png');
            }
            &.love {
                background-image: asset-url('icons/love-24.png');
            }
            &.friends {
                background-image: asset-url('icons/friends-24.png');
            }
            &.plug {
                background-image: asset-url('icons/plug-24.png');   
            }
            &.share {
                background-image: asset-url('icons/share-24.png');   
            }
            &.positive {
                background-image: asset-url('icons/positive-24.png');   
            }
            &.negative {
                background-image: asset-url('icons/negative-24.png');
            }

        }
    }
}

.invitations {
    
    padding: 0;

    .invitation {

        border: solid 3px;

        &.pending {
            border-color: $medium-gray;
        }

        &.playing {
            border-color: $blue;
        }

        &.accepted {
            border-color:  $green;
        }

        &.rejected {
            border-color: $red;
        }

        display: inline-block;
        width: 9em;
        height: 9em;
        margin: 0.5em 0.2em;
        position: relative;

        img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 8.6em;
            height: 8.6em;

            &.pending {
                @include opaqued;
            }
        }
    }

}

#lights_container {
    border: solid 1px red;
}

.light {
    padding: 10px 0;
}

#btn_more_lights {
    background-color: #333;
    color: #e9e9e9;
    @include base_shadow;

    &:hover, &:focus {
        color: #fff;
        @include base_shadow_light;
    }
}

.light .base {

    // border: solid 1px violet;

    &.on { @include base_shadow_light; }
    
    padding: 10px;

    @include box_radius_5;

    // &.off { @include base_shadow; }
}



footer {
    padding: 50px;
    text-align: center;
}

// publisher plugin
.--class-publisher-plugin {
}