<% content_for(:title) do "ClasiFace.Com" end %>

<%= render 'layouts/header' %>

<div class="row">
    <div class="col-md-12 p-15">
        <% if logged_in? %>
            <h1>Logged in user</h1>
        <% else %>
            <h3 class="m-0">
                <b>Clasiface.com</b>
            </h3>
        <% end %>
    </div>
</div>  
