<% content_for(:title) do "ClasiFace.Com" end %>

<div class="col-md-12 border-blue">
    <% if logged_in? %>
        <h1>Logged in user</h1>
    <% else %>

        <h3 class="m-0 text-center p-30">
            <b>Rifus.me</b>
        </h3>

        <!-- raffles -->
        <div class="row">
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
            <div class="col-md-3 p-10" style="border: solid 1px red;">
                content here
            </div>
        </div>
    <% end %>
</div>
